#footer {
    display: flex;
    justify-content: space-between;
    color:white;
    font-family: $font;
    accent-color: rgb(65, 4, 109);
    margin: 5% 0px;

    #gen {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    #years {
        background-color: rgb(62, 11, 98);
        border: none;
        border-radius: 1.25em; //20px
        padding: 0.31em; // 5px 
        color: white;
        width: 50px;
        //Melhorar design
    }

    @include responsive(small) {

        #gen {
            font-size: 0.9em;
            gap: 5px;
            margin: 6% 0px;
        }

        #idade {
            display: flex;
            align-items: center;
        }
    }
}

#eula {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-family: $font;
    accent-color: rgb(62, 11, 98);
    margin: 4% 0px;

    a {
        text-decoration: none;
        &:link {
            color:rgb(62, 11, 98);
        }

        &:hover {
            text-decoration: underline;
        } 

        &:visited {
            color: pink;
        }
    }

    #termo {
        width: 18px;
        height: 18px;

        &:checked + label{
            color: rgb(251, 87, 202);
        }

        &:active {
            position: relative;
            top: 2px;
        }
    }

    @include responsive(small) {
        font-size: 0.9em;
        
        #termo {
            width: 15px;
            height: 15px;
        }
    }
}