* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: flex-end;
    background-image: url(../image/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

$font: arial, helvetica, sans-serif;
//=============================================================================================
//responsividade

$medium: 768px;
$small: 425px;
$minion: 375px;

@mixin responsive($break) {
    @if $break == medium {
        @media (max-width: $medium) {
            @content;
        }
    } @else if $break == small {
        @media (max-width: $small) {
            @content;
        }
    } @else {
        @media (max-width: $minion) {
            @content; 
        }
    }
}

@include responsive(medium) {
    body {
        justify-content: center;
        background-size: cover;
        height: 100vh;
    }
}

//=============================================================================================

@import 'footer';
@import 'base';
@import 'main';
@import 'header';
@import 'button';